<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Niger Salaires</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<%= render 'shared/banner' %>

<main class="container mx-auto text-gray-500 px-4 sm:px-6 lg:px-8 mt-8">
  <%= yield %>
</main>
<%= render 'shared/footer' %>

</body>
</html>
